[Unit]
Description=edgecore.service
After=docker.service
Requires=docker.service

[Service]
Type=simple
ExecStart=/usr/bin/edgecore
ExecStartPre=/bin/mkdir -p /data/edgecore
Restart=always
RestartSec=10
LimitNOFILE=50000

[Install]
WantedBy=multi-user.target
