[Unit]
Description=Create and mount overlay filesystems.
Requires=data.mount
After=data.mount

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/usr/bin/persistent-tailscale.sh

[Install]
WantedBy=multi-user.target
